.Container {
    margin-top: 15px;
}



.SignInContainer h4 {
    font-size: 33px;
    margin-top: 20px;
}

.SignInContainer p {
    font-size: 16px;
    margin-top: 20px;
}

.SignInContainer {
    padding: 25px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.Input {
    width: 25vw;
    margin-top: 5px;
    height: 40px;
    border-radius: 6px;
    padding: 15px;
}

.Label {
    font-size: 16px;
    font-weight: 400;
}

.Error {
    color: red;
    font-size: 14px;
    margin-left: 5px;
}

.rememberContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

}

.rememberContainer a {
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-decoration: none;
}

.remember {
    display: flex;
    color: #8A92A6;
    font-size: 16px;

}

.buttonSignIn{
    background: linear-gradient(to right, #aa91ed, #bba6f1);
    color: white;
    width: 10vw;
    height: 44px;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
}

.formSetting{
    display: flex;
}

.field{
    margin: 5px;
}